body {
    background-color: rgb(100, 100, 100);
    font-family: Arial;
}

main {
    background-color: rgb(50, 50, 50);
    margin: 0 10% 0 10%;
    min-height: 600px;
    min-width: 1050px;
    border-radius: 15px;
    padding-left: 16%;
    padding-top: 3%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
}

section {
    background-color: rgb(100, 100, 100);
    width: 750px;
    padding: 5%;
    border-radius: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.11);
}

.tabela,
td {
    margin: 0 3%;
    width: fit-content;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background-color: rgb(150, 150, 150);
    text-align: center;
}

.tabela tr :hover{
    background-color: rgb(124, 124, 124);
}

.tabledata-img,
.tabledata-img img {
    border-radius: 8px;
    width: 65%;
}

thead,
caption {
    background-color: rgba(50, 50, 50, 0.250);
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.541);
}
