* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
}

main {
    padding: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 45, 45);
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: dimgray;
    width: 80%;
}

#card {
    display: flex;
    padding: 1%;
    flex-flow: column wrap;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px 2px;
}