*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.grid-container{
    display:grid;
    grid-template: 1fr 1fr / 1fr 2fr 1fr;



    grid-column-gap: 20px;
    grid-row-gap:10px;
}

.grid-item{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    border: dotted 1px;
}

.grid-subitem{
    padding: 1%;
    background-color: gray;
    border: solid 1px;
}