* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c4249;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #32373d;
    padding: 2%;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.header-section{
    background-color: #464a4d;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.header-section nav{
    width: fit-content;
    margin-left: 85%;
}

li{
    display: inline-block;
}

main {
    display: flex;
    flex-direction:column;
    width: 70%;
    margin-top: 1%;
    margin-left: 15%;
    padding: 1%;
    border-radius: 10px;
    background-color: #E3F2E3;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

#product-section{
    display: flex;
    align-items: center;
    background-color: #a3a7aa;
    gap: 5%;
    padding: 1%;
    width: 40%;
    height: 100%;
}

#prod{
    width:15%;
    border-radius: 5px;
    background-color: #cbd1d6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 1%;
    width: 15%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
    background-color: #afbbaf;
}

footer{
    margin-top: 26%;
    padding: 2%;
    background-color: #393a3b;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.541);
}